body {
	margin: 0;
	padding: 0;
	/*background-color: black;*/
	background-image: url("./forest.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
